@font-face {
    font-family: sign;
    src: url(./KGPrimaryPenmanship.ttf);
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gainsboro;
}

.image-container {
    position: relative;
    text-align: center;
}

  .image-container img {
    width: 50%;
    height: auto;
    min-width: 585px;
}

.text-overlay {
    position: absolute;
    color: #E1DBCD;
    white-space: nowrap;
}

#text-overlay-1 {
    font-family: sign;
    font-size: 23px;
    top: 67%;
    left: 50%;
    text-transform: uppercase;
    letter-spacing: .15rem;
    transform: translate(-50%, -50%) skew(1deg) rotate(.5deg);
}

#text-overlay-2 {
    font-family: sign;
    font-size: 20px;
    text-transform: uppercase;
    top: 75.5%;
    left: 50%;
    letter-spacing: .15rem;
    transform: translate(-50%, -50%) skew(-2deg) rotate(1.5deg);
}

.text-form {
    max-width: 500px;
    min-width: 50px;;
    margin: 0 auto;
    box-sizing: border-box;
}

#text-form input[type="text"],
#text-form button {
    margin: 10px 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 800px) and (orientation: landscape) {
    body, html {
        display: block;
        padding: 20px 0;
        overflow: auto;
    }
}

@media (max-width: 450px) {
    .text-form {
        display: block;
        margin: 10px 0;
        box-sizing: border-box;
    }
    #text-form input[type="text"],
    #text-form button {
        display: block;
        margin: 10px 0;
        box-sizing: border-box;
    }
}
